/* --------------------------------------------------

   custom.css

----------------------------------------------------- */
/* Add your styles here
[fr] Ajoutez vos styles ici */
body {
  background-color: #f8f8f8;
  font-family: Georgia, Cambria, Times New Roman, Times, serif;
  color: #222222;
}
pre,
code,
kbd,
samp,
var,
tt {
  font-family: Courier New, Courier, monospace;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: Ubuntu, Helvetica Neue, Helvetica, sans-serif;
  color: #990000;
  font-weight: bold;
}
hr,
.box {
  border-color: #990000;
}
.lead {
  color: #555555;
}
.quiet {
  color: #bbbbbb;
}
blockquote small {
  color: #bbbbbb;
}
figure small {
  color: #bbbbbb;
}
a:hover {
  background-color: rgba(34, 34, 34, 0.09999999999999998);
}
