/* --------------------------------------------------

   custom.css

----------------------------------------------------- */
/* Add your style here
[fr] Ecrivez vos styles ici */
/*
 * Choice your typo */
body,
.font1 {
  font-family: Georgia, 'Times New Roman', serif;
}
/*
 * Define your colors */
body {
  background: #f8f8f8;
  color: #222222;
}
/*
 * Define your headings
 * with: http://type-scale.com
 */
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  color: #aa0000;
}
/*
 * Define your links */
a {
  text-decoration: none;
  border-bottom: 1px solid;
}
a:focus,
a:hover,
a:active {
  color: #0000ff;
}
/*
 * Enjoy CSS:
 * http://enjoycss.com
 *
 */