/*! Typographical base - Tiny Typo v2.5.2 2017 - MIT License - tinytypo.tetue.net */
/* ------------------------------------------------------------------------------ */
/* Sets up some sensible default typography */
html {
  font-size: 100.01%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
/* Cf.: http://www.pompage.net/pompe/definir-des-tailles-de-polices-en-CSS/
et http://forum.alsacreations.com/topic-4-54377-1.html
[en] http://stackoverflow.com/questions/2703056/body-font-size-100-01-vs-body-font-size-100 */
body {
  font-size: 1em;
  line-height: 1.5;
}
/* Fonts */
.font1 {
  font-family: serif;
}
.font2 {
  font-family: sans-serif;
}
.font3 {
  font-family: monospace, monospace;
}
.font4 {
  font-family: fantasy;
}
/* Headings */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
}
h1,
.h1 {
  font-size: 2em;
  line-height: 1.5;
  margin-bottom: .75em;
}
h2,
.h2 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h3,
.h3 {
  font-size: 1.25em;
  line-height: 1.2;
  margin-bottom: 1.2em;
}
h4,
.h4 {
  font-size: 1.1em;
  line-height: 1.364;
  margin-bottom: 1.364em;
}
h5,
.h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6,
.h6 {
  font-size: 1em;
  font-weight: bold;
}
h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small {
  font-size: 60%;
  line-height: 0;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  margin: 1.5em 0;
  border: solid;
  border-width: 1px 0 0;
}
/* Typographical enhancements */
em,
i,
.i {
  font-style: italic;
}
strong,
b,
.b {
  font-weight: bold;
}
mark,
.mark {
  background: #ff0;
  color: #000;
}
.smaller {
  font-size: 75%;
}
small,
.small {
  font-size: 80%;
}
big,
.big {
  font-size: 130%;
}
.bigger {
  font-size: 175%;
}
.biggest {
  font-size: 200%;
}
abbr[title],
acronym[title] {
  text-decoration: none;
  border-bottom: .1em dotted;
  cursor: help;
}
@media print {
  abbr[title] {
    border-bottom: 0;
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
}
dfn,
.dfn {
  font-weight: bold;
  font-style: italic;
}
s,
strike,
del,
.del {
  opacity: .5;
  text-decoration: line-through;
}
ins,
.ins {
  background-color: rgba(255, 255, 204, 0.5);
  text-decoration: none;
}
u,
.u {
  text-decoration: underline;
}
sup,
.sup,
sub,
.sub {
  position: relative;
  font-size: 80%;
  font-variant: normal;
  line-height: 0;
  vertical-align: baseline;
}
sup,
.sup {
  top: -0.5em;
}
sub,
.sub {
  bottom: -0.25em;
}
.lead {
  font-size: 120%;
}
.quiet {
  color: #555555;
}
.lw {
  text-transform: lowercase;
}
.up {
  text-transform: uppercase;
  letter-spacing: .05em;
}
.sc {
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: .05em;
}
.caps {
  font-variant: small-caps;
  letter-spacing: .05em;
}
/* Alignment */
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
  text-justify: newspaper;
}
/* Lists */
ul,
ol,
li,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: disc;
}
ul ul {
  list-style-type: circle;
}
ul ul ul {
  list-style-type: square;
}
ol {
  list-style-type: decimal;
}
ol ol {
  list-style-type: lower-alpha;
}
ol ol ol {
  list-style-type: lower-greek;
}
ul ul,
ol ol,
ul ol,
ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
ol,
ul {
  margin-left: 1.5em;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 1.5em;
}
.list-none {
  margin-left: 0;
  list-style: none;
}
.list-none li:before {
  content: '';
}
.list-square {
  margin-left: 1.5em;
  list-style: square;
}
.list-square li:before {
  content: '';
}
.list-disc {
  margin-left: 1.5em;
  list-style: disc;
}
.list-disc li:before {
  content: '';
}
.list-circle {
  margin-left: 1.5em;
  list-style: circle;
}
.list-circle li:before {
  content: '';
}
.list-decimal {
  margin-left: 1.5em;
  list-style: decimal;
}
.list-decimal li:before {
  content: '';
}
.list-inline {
  margin-left: 0;
}
.list-inline li {
  display: inline-block;
  margin: 0;
  margin-right: 1em;
}
.list-inline li:Last-Child {
  margin-right: 0;
}
.list-inline.list-inline-sep li {
  margin-right: 0;
}
.list-inline.list-inline-sep li:after {
  content: " | ";
}
.list-inline.list-inline-sep li:Last-Child:after {
  content: '';
}
.list-inline.list-inline-dash li {
  margin-right: 0;
}
.list-inline.list-inline-dash li:after {
  content: " - ";
}
.list-inline.list-inline-dash li:Last-Child:after {
  content: '';
}
.list-inline.list-inline-comma li {
  margin-right: 0;
}
.list-inline.list-inline-comma li:after {
  content: ", ";
}
.list-inline.list-inline-comma li:Last-Child:after {
  content: ". ";
}
.list-block li {
  display: block;
  margin-right: 0;
}
/* Tables */
table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.table {
  width: 100%;
}
.table caption,
.table th,
.table td {
  padding: 0.375em;
}
.table caption {
  font-weight: bold;
  text-align: left;
  border-bottom: 2px solid;
}
.table th {
  font-weight: bold;
}
.table th,
.table td {
  border-bottom: 1px solid;
}
.table thead th {
  vertical-align: bottom;
}
.table tbody tr:hover td {
  background-color: rgba(34, 34, 34, 0.050000000000000044);
}
.table tfoot {
  font-style: italic;
}
.table tfoot td {
  border-bottom: 0;
  vertical-align: top;
}
@media (max-width: 640px) {
  .table-responsive {
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    margin-bottom: 1.5em;
  }
  .table-responsive table {
    width: 100%;
    margin-bottom: 0;
  }
  .table-responsive thead,
  .table-responsive tbody,
  .table-responsive tfoot,
  .table-responsive tr,
  .table-responsive th,
  .table-responsive td {
    white-space: nowrap;
  }
}
/* Quotes, code and poetry */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
:lang(en) > q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
:lang(fr) > q {
  quotes: "\00AB\A0" "\A0\00BB" "\201C" "\201D" "\2018" "\2019";
}
:lang(es) > q {
  quotes: "\00AB" "\00BB" "\201C" "\201D";
}
:lang(it) > q {
  quotes: "\00AB\A0" "\A0\00BB" "\201C" "\201D";
}
:lang(de) > q {
  quotes: "\00BB" "\00AB" "\203A" "\2039";
}
:lang(no) > q {
  quotes: "\00AB\A0" "\A0\00BB" "\2039" "\203A";
}
/* [en] http://en.wikipedia.org/wiki/International_variation_in_quotation_marks */
q:before {
  content: open-quote;
}
q:after {
  content: close-quote;
}
/* [fr] http://www.iamvdo.me/blog/n-oubliez-pas-la-propriete-css-quotes */
blockquote {
  z-index: 0;
  position: relative;
  margin-left: 0;
  margin-right: 0;
  padding-left: 1.5em;
  border: solid rgba(102, 102, 102, 0.19999999999999996);
  border-width: 0 0 0 5px;
}
blockquote:before {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  content: "\00AB";
  line-height: 0;
  font-size: 10rem;
  color: rgba(102, 102, 102, 0.09999999999999998);
}
blockquote p:last-of-type {
  margin-bottom: 0;
}
blockquote .src {
  display: block;
  font-size: 80%;
}
blockquote .src:before {
  content: "\2014 \00A0";
}
cite,
.cite {
  font-style: italic;
}
address {
  font-style: normal;
}
pre,
code,
var,
samp,
kbd,
tt,
.tt {
  font-family: monospace, monospace;
  font-size: 1em;
}
kbd {
  white-space: nowrap;
  padding: .1em .3em;
  background-color: #eee;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #ffffff inset;
  color: #333;
}
samp {
  font-weight: bold;
}
var {
  font-style: italic;
}
/* Box */
.box {
  display: block;
  margin-bottom: 1.5em;
  padding: 1.5em 1.5em;
  padding-bottom: .1em;
  border: 1px solid;
}
@media print {
  .box {
    border: 1px solid !important;
  }
}
@media (min-width: 640px) {
  .box.right {
    width: 33%;
    margin-left: 1.5em;
  }
  .box.left {
    width: 33%;
    margin-right: 1.5em;
  }
  .box.center {
    width: 75%;
  }
}
/* Paragraphs */
p,
.p,
ul,
ol,
dl,
dd,
blockquote,
address,
pre,
.table,
fieldset {
  margin-top: 0;
  margin-bottom: 1.5em;
}
/* Typography for small screens
[fr] http://www.alsacreations.com/astuce/lire/1177 */
@media (max-width: 640px) {
  /* Set a maximum width of 100% for potentially problematic elements */
  img,
  table,
  td,
  blockquote,
  code,
  pre,
  textarea,
  input,
  iframe,
  object,
  embed,
  video {
    max-width: 100% !important;
  }
  /* gestion des mots longs */
  textarea,
  table,
  td,
  th,
  pre,
  code,
  samp {
    word-wrap: break-word;
    /* cesure forcee */
  }
  pre,
  code,
  samp {
    white-space: pre-line;
    /* passage a la ligne specifique pour les elements a chasse fixe */
  }
}
/* orientation iOS5 font-size fix */
@media (orientation: landscape) and (max-device-width: 640px) {
  html,
  body {
    -webkit-text-size-adjust: 100%;
  }
}
/* Print styles from HTML5 Boilerplate
Inlined to avoid required HTTP connection: h5bp.com/r */
@media print {
  pre,
  blockquote {
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  @page  {
    margin: 2cm .5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/*! Hyperlinks - Tiny Typo v2.5.2 2017 - MIT License - tinytypo.tetue.net */
/* ---------------------------------------------------------------------- */
/* [fr] Signaletique des hyperliens : http://letrainde13h37.fr/43/signaletique-hyperliens/ */
a {
  background: transparent;
  -webkit-text-decoration-skip: objects;
  color: inherit;
}
a:visited {
  color: inherit;
}
a:focus {
  /* http://www.outlinenone.com
  /* outline: thin dotted;
  /* Remember to define focus styles! */

}
a:hover {
  outline: 0;
  cursor: pointer;
}
a:active {
  outline: 0;
}
a:after,
a:before,
a small {
  font-size: 90%;
  opacity: .9;
}
a[hreflang]:after {
  content: "\0000a0[" attr(hreflang) "]";
  font-weight: normal;
}
/* external links */
a.external:after {
  content: "\0000a0\279A";
}
a[hreflang].external:after {
  content: "\0000a0[" attr(hreflang) "]\0000a0\279A";
}
/* mailto */
a.mailto:after {
  content: "\0000a0\2709";
}
a[hreflang].mailto:after {
  content: "\0000a0[" attr(hreflang) "]\0000a0\2709";
}
/* tel */
a.tel:after {
  content: "\0000a0\2706";
}
a[hreflang].tel:after {
  content: "\0000a0[" attr(hreflang) "]\0000a0\2706";
}
/* downloads */
a.download:after {
  content: "\0000a0\21A7";
}
a[hreflang].download:after {
  content: "\0000a0[" attr(hreflang) "]\0000a0\21A7";
}
/* Linked images */
a img {
  border: 0;
}
a:focus img,
a:active img {
  -moz-transform: translateY(1px);
  -webkit-transform: translateY(1px);
  -o-transform: translateY(1px);
  -ms-transform: translate(1px);
  transform: translateY(1px);
}
@media print {
  a,
  a:visited {
    text-decoration: underline;
  }
  a:after {
    content: '';
  }
  a[rel="external"]:after,
  a.external:after {
    content: " (" attr(href) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: '';
  }
}
/*! Images and Gallery - Tiny Typo v2.5.2 2017 - MIT License - tinytypo.tetue.net */
/* ------------------------------------------------------------------------------ */
img {
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: middle;
}
@media print {
  img {
    max-width: 100% !important;
  }
}
svg:not(:root) {
  overflow: hidden;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
/* thumbnail */
.thumb,
.thumb.left {
  margin: 0 10px 10px 0;
}
.thumb.right {
  margin: 0 0 10px 10px;
}
/* style effects */
img.round {
  border-radius: 5px;
}
img.circle {
  border-radius: 50%;
}
img.border {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #bbb;
}
img.shadow {
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7), -1px 2px 20px rgba(255, 255, 255, 0.6) inset;
}
/* figure */
figcaption,
figure {
  display: block;
}
figure {
  margin: 0;
  margin-bottom: 0.75em;
  text-align: center;
}
figure.center {
  margin-bottom: 1.5em;
}
figure.left {
  margin-right: 1.5em;
}
figure.right {
  margin-left: 1.5em;
}
@media (max-width: 640px) {
  figure {
    margin-bottom: 1.5em;
  }
  figure.left {
    float: none;
    margin-right: 0;
  }
  figure.right {
    float: none;
    margin-left: 0;
  }
}
/* album */
.album {
  margin-bottom: 1.5em;
}
.album ul {
  overflow: hidden;
  margin: 0;
  list-style: none;
}
.album li {
  float: left;
  margin: 0;
  margin: 0 10px 10px 0;
}
.album .thumb {
  margin: 0;
}
